.classpath
.project
.metadata
.settings
.loadpath
.DS_Store
.actionScriptProperties
.flexProperties
.flexLibProperties
.externalToolBuilders
FlexUnitCompilerApplication.mxml
application_temp_flex_main_class_config.xml
FlexUnitApplication.mxml
*flexunit_config.xml
*.log
atlassian-ide-plugin.xml
target
bin-debug
builddir
.idea
*.ids
*.iml
*.ipr
*.iws

